/* CSS Variables */
:root {
  --marquee-md: 485px;
}
body{
  margin: 0;
  font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;

}
.hero img {max-width: 100%}
.gallery {
  columns: 4 auto;
}

.marquee--backgroundimage {
  position: relative;
  color: #FFFFFF;
}

.marquee--backgroundimage > div:nth-child(1) {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.marquee--backgroundimage > div:nth-child(1) img {
  width: 100%;
  object-fit: cover;
  height: var(--marquee-md);
}

.marquee--backgroundimage > div:nth-child(2){
  width: 83.4%;
  height: var(--marquee-md);
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.marquee--backgroundimage > div:nth-child(2) div{
  flex: 0 0 50%;
}

.spacer {
  height: 100px;
}